name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]


jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. checkout source code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 2. Set up java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      # 3. Cache Maven dependencies (reuses previously downloaded maven dependency)
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 4. Build all services (creating jars)
      - name: Build all services
        run: mvn clean install -DskipTests

      # 5. Run Contract tests
      - name: Run contract tests
        run: mvn -pl tests/test-contract test -Dgroups=contract

      # 6. Start all services from docker
      - name: Start services
        run: docker compose up -d

      # 7. Run integration tests
      - name: Run integration tests
        run: mvn -pl tests/test-integration verify -Dgroups=integration

      # 8. Run API tests (normal, all services running)
      - name: Run API tests
        run: mvn -pl tests/api-test verify -Dgroups=api,!inventory-down,!payment-down

      # 9. Inventory DOWN API tests
      - name: Stop inventory service
        run: docker compose stop inventory-service

      - name: Run inventory-down API tests
        run: mvn -pl tests/api-test verify -Dgroups=inventory-down

      # 10. Payment DOWN API tests
      - name: Restart services
        run: docker compose up -d

      - name: Stop payment service
        run: docker compose stop payment-service

      - name: Run payment-down API tests
        run: mvn -pl tests/api-test verify -Dgroups=payment-down

      # 11. TearDown
      - name: Shutdown all services
        if: always()
        run: docker compose down