name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout source
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3. Cache Maven dependencies
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # 4. Build & install all modules
      # Required so test modules can resolve
      # order-service, payment-service, inventory-service
      - name: Build all modules (skip tests)
        run: mvn clean install -DskipTests

      # 5. Start services (Docker)
      - name: Start services
        run: docker compose up -d

      # 6. Wait for services readiness
      - name: Wait for services to be ready
        run: |
          echo "Waiting for Order Service..."
          for i in {1..30}; do
            curl -f http://localhost:8081/actuator/health && break
            sleep 2
          done

      # 7. Run CONTRACT tests
      - name: Run contract tests
        run: mvn -pl tests/test-contract test

      # 8. Run INTEGRATION tests
      - name: Run integration tests
        run: mvn -pl tests/test-integration verify

      # 9. Run API tests (normal)
      - name: Run API tests (normal)
        run: mvn -pl tests/test-api verify -Dgroups="api & !inventory-down & !payment-down"

      # 10. Inventory DOWN API tests
      - name: Stop inventory service
        run: docker compose stop inventory-service

      - name: Run inventory-down API tests
        run: mvn -pl tests/test-api verify -Dgroups="inventory-down"

      # 11. Payment DOWN API tests
      - name: Restart services
        run: docker compose up -d

      - name: Stop payment service
        run: docker compose stop payment-service

      - name: Run payment-down API tests
        run: mvn -pl tests/test-api  verify -Dgroups="payment-down"

      # 12. Teardown (always)
      - name: Shutdown services
        if: always()
        run: docker compose down